Bot Promoções PC telegram.json
{
  "name": "Bot Promoções PC telegram",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.isthereanydeal.com/deals/v2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "2f52876e45f6dba6468f8467cc6d0e95bfd610a6"
            },
            {
              "name": "country",
              "value": "BR"
            },
            {
              "name": "limit",
              "value": "200"
            },
            {
              "name": "sort",
              "value": "-cut"
            }
          ]
        },
        "options": {}
      },
      "id": "cce4d751-ceae-41da-a36c-f236b276ad95",
      "name": "Buscar Promoções ITAD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12992,
        3504
      ]
    },
    {
      "parameters": {
        "jsCode": "function escapeHtml(str) {\n  return String(str)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n}\n\nconst TOKEN = '7959589740:AAGM9gvS35rBVhNMmX1PcEuQsaVcUJNSaKs';\nconst CHAT_ID = '-1004292409396';\n\nconst raw = items[0].json;\nconst allDeals = raw.list || [];\n\n// Verifica se o deal é da Steam pelo shop name\nfunction isSteamDeal(item) {\n  const shopName = (item.deal && item.deal.shop && item.deal.shop.name)\n    ? item.deal.shop.name.toLowerCase()\n    : '';\n  return shopName === 'steam';\n}\n\n// Filtra: só jogos Steam com preço base > 0\nconst deals = allDeals\n  .filter(item => item.type === 'game')\n  .filter(item => isSteamDeal(item))\n  .filter(item => {\n    const d = item.deal || {};\n    const regularCents = (d.regular && d.regular.amountInt != null) ? d.regular.amountInt : null;\n    return regularCents != null && regularCents > 0;\n  });\n\n// Ordena por maior % de desconto (já vem ordenado pela API, mas garantimos aqui)\ndeals.sort((a, b) => {\n  const cutA = (a.deal && a.deal.cut != null) ? a.deal.cut : 0;\n  const cutB = (b.deal && b.deal.cut != null) ? b.deal.cut : 0;\n  return cutB - cutA;\n});\n\nconst result = [];\n\n// Cabeçalho\nresult.push({\n  json: {\n    telegramUrl: `https://api.telegram.org/bot${TOKEN}/sendMessage`,\n    bodyString: JSON.stringify({\n      chat_id: CHAT_ID,\n      text: '🎮 <b>MELHORES PROMOÇÕES DE JOGOS PC — STEAM</b> 🎮\\n🏪 Ordenado pelos maiores descontos!\\n🕐 ' + new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' }) + '\\n────────────────────────',\n      parse_mode: 'HTML',\n      disable_web_page_preview: true\n    })\n  }\n});\n\nfor (const item of deals) {\n  const title = item.title || 'Sem título';\n  const d = item.deal || {};\n\n  const cut = d.cut != null ? Math.round(d.cut) : 0;\n  const priceCents = (d.price && d.price.amountInt != null) ? d.price.amountInt : null;\n  const regularCents = (d.regular && d.regular.amountInt != null) ? d.regular.amountInt : null;\n  const currency = (d.price && d.price.currency) ? d.price.currency : 'BRL';\n  const sym = currency === 'BRL' ? 'R$' : (currency === 'USD' ? 'US$' : currency + ' ');\n\n  let priceText;\n  if (priceCents === 0) {\n    priceText = '🎁 <b>GRATUITO TEMPORARIAMENTE</b>';\n  } else if (priceCents != null && regularCents != null) {\n    const priceFmt = `${sym}${(priceCents / 100).toFixed(2)}`;\n    const regularFmt = `${sym}${(regularCents / 100).toFixed(2)}`;\n    priceText = `💰 De: ${regularFmt} → <b>${priceFmt}</b>`;\n  } else if (priceCents != null) {\n    priceText = `💰 Por: <b>${sym}${(priceCents / 100).toFixed(2)}</b>`;\n  } else {\n    priceText = '💰 Preço não disponível';\n  }\n\n  const url = d.url || null;\n  const thumb = item.assets\n    ? (item.assets.banner300 || item.assets.banner145 || item.assets.boxart || null)\n    : null;\n\n  const caption =\n    `🎮 <b>${escapeHtml(title)}</b>\\n` +\n    `🏪 Steam\\n` +\n    priceText + '\\n' +\n    `🔥 ${cut}% OFF\\n` +\n    (url ? `<a href=\"${url}\">🔗 Abrir na Steam</a>` : '');\n\n  if (thumb) {\n    result.push({\n      json: {\n        telegramUrl: `https://api.telegram.org/bot${TOKEN}/sendPhoto`,\n        bodyString: JSON.stringify({\n          chat_id: CHAT_ID,\n          photo: thumb,\n          caption: caption,\n          parse_mode: 'HTML'\n        })\n      }\n    });\n  } else {\n    result.push({\n      json: {\n        telegramUrl: `https://api.telegram.org/bot${TOKEN}/sendMessage`,\n        bodyString: JSON.stringify({\n          chat_id: CHAT_ID,\n          text: caption,\n          parse_mode: 'HTML',\n          disable_web_page_preview: true\n        })\n      }\n    });\n  }\n}\n\n// Rodapé\nresult.push({\n  json: {\n    telegramUrl: `https://api.telegram.org/bot${TOKEN}/sendMessage`,\n    bodyString: JSON.stringify({\n      chat_id: CHAT_ID,\n      text: '────────────────────────\\n⏰ Próxima atualização em 6 horas',\n      parse_mode: 'HTML'\n    })\n  }\n});\n\nreturn result;"
      },
      "id": "4d70bc75-2d63-4e9b-910b-5d6309c5ebba",
      "name": "Formatar Mensagens",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13200,
        3504
      ]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "60be859d-097a-4b75-be50-d199a2cebb61",
      "name": "Aguardar 3s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        13424,
        3664
      ],
      "webhookId": "wait-webhook-1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.telegramUrl }}",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.bodyString }}",
        "options": {}
      },
      "id": "ac3baea3-41b8-496d-ae26-74706568136b",
      "name": "Enviar para Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        13648,
        3504
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "04705299-2526-4066-a3b0-f27c5b8f9c2a",
      "name": "Lote de 1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        13424,
        3504
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6,
              "triggerAtMinute": 1
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        12752,
        3504
      ],
      "id": "f14c0eb7-103b-4c66-b8f9-704e20ac4d6e",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Buscar Promoções ITAD": {
      "main": [
        [
          {
            "node": "Formatar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Mensagens": {
      "main": [
        [
          {
            "node": "Lote de 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar para Telegram": {
      "main": [
        [
          {
            "node": "Aguardar 3s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lote de 1": {
      "main": [
        [],
        [
          {
            "node": "Enviar para Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar 3s": {
      "main": [
        [
          {
            "node": "Lote de 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Buscar Promoções ITAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ed692639-7fd2-4abd-a4dc-da0037731f1f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75c2e7e46fe228b02b4e95b76f5694bd5920046ee8eacea4b7d2991600159ebb"
  },
  "id": "FkIYZeJFSHIeyOiL",
  "tags": []
}