Monitor de Palavras.json
{
  "name": "Monitor de Palavras",
  "nodes": [
    {
      "parameters": {
        "path": "monitor",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "668b8628-75df-48ed-bd9e-dac5fc9d048d",
      "name": "Recebe Palavra",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -496,
        128
      ],
      "webhookId": "b2ff5d89-c7eb-4e2b-a5b9-3be89b2d65e0"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.query.palavra }}",
              "rightValue": "urgente",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1c0acbc-4bd2-4351-a2b6-dc211d50751b",
      "name": "É urgente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -256,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst agora = execSync(\"date '+%Y-%m-%d %H:%M:%S'\").toString().trim();\nexecSync(`echo \"${agora},urgente\" >> /home/n8n-dados/registros.csv`);\nreturn [{ json: { status: 'gravado', registro: agora + ',urgente' } }];"
      },
      "id": "ffd90089-1bcb-46dd-b417-ca4eb37647c0",
      "name": "Grava urgente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst agora = execSync(\"date '+%Y-%m-%d %H:%M:%S'\").toString().trim();\nexecSync(`echo \"${agora},normal\" >> /home/n8n-dados/registros.csv`);\nreturn [{ json: { status: 'gravado', registro: agora + ',normal' } }];"
      },
      "id": "30114716-a89a-4142-a56d-003bc850f635",
      "name": "Grava normal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"mensagem\": \"Registrado: urgente\", \"hora\": \"{{ $json.registro }}\" }",
        "options": {}
      },
      "id": "d68666a8-5160-4e62-83dc-6c8864c03400",
      "name": "Responde urgente",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        256,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"mensagem\": \"Registrado: normal\", \"hora\": \"{{ $json.registro }}\" }",
        "options": {}
      },
      "id": "1a5187dc-4375-40af-bf8e-329e08fce3ee",
      "name": "Responde normal",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        256,
        240
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Recebe Palavra": {
      "main": [
        [
          {
            "node": "É urgente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É urgente?": {
      "main": [
        [
          {
            "node": "Grava urgente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Grava normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grava urgente": {
      "main": [
        [
          {
            "node": "Responde urgente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grava normal": {
      "main": [
        [
          {
            "node": "Responde normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6c1378b3-6c1a-4f46-9a37-cf2c38e047b3",
  "meta": {
    "instanceId": "75c2e7e46fe228b02b4e95b76f5694bd5920046ee8eacea4b7d2991600159ebb"
  },
  "id": "FSs1coKYSjMbYGEs",
  "tags": []
}