Monitor de Palavras Ofensivas - Webhook (1).json
{
  "name": "Monitor de Palavras Ofensivas - Webhook",
  "nodes": [
    {
      "parameters": {
        "path": "monitor-palavras",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2768,
        3184
      ],
      "id": "193bcdb3-3643-44a2-861e-78bba51231de",
      "name": "Receber Mensagem",
      "webhookId": "monitor-palavras-webhook"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\n\nconst queryData = (raw.query && Object.keys(raw.query).length) ? raw.query : {};\nconst bodyData = (raw.body && Object.keys(raw.body).length) ? raw.body : {};\nconst data = { ...queryData, ...bodyData };\n\nconst palavraOriginal = (data.mensagem || data.palavra || data.texto || '').toString().trim();\nconst nomeCompleto = (data.nome || data.nomeCompleto || data.remetente || 'Desconhecido').toString().trim();\nconst identificador = (data.usuario || data.username || data.email || 'sem identificaĂ§ĂŁo').toString().trim();\nconst origem = (data.origem || data.canal || data.chatId || 'nĂŁo informado').toString().trim();\n\nif (!palavraOriginal) {\n  return [{ json: { palavraOriginal: '', palavraLower: '', valida: false } }];\n}\n\nreturn [{\n  json: {\n    palavraOriginal,\n    palavraLower: palavraOriginal.toLowerCase(),\n    nomeCompleto,\n    identificador,\n    origem,\n    valida: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2976,
        3184
      ],
      "id": "857dfb59-7839-4e55-8a58-90e8a4470891",
      "name": "Preparar Mensagem"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.palavraLower }}",
                    "rightValue": "idiota|imbecil|burro|incompetente|inĂștil|vagabundo|miserĂĄvel|desgraĂ§ado|odeio|raiva|ameaĂ§a|vergonha|absurdo|ridĂ­culo|pĂ©ssimo|otĂĄrio|cretino|boĂ§al|besta|estĂșpido|tolo|coiĂł|lorpa|palerma|aselha|badameco|jumento|asno|mula|jerico|quadrĂșpede|cavalgadura|mentiroso|vigarista|corrupto|ladrĂŁo|bandido|criminoso|safado|canalha|escroque|patife|velhaco|malandro|pilantra|golpista|trapaceiro|desonesto|hipĂłcrita|covarde|frouxo|medroso|fraco|imprestĂĄvel|incapaz|fracassado|perdedor|lixo|escĂłria|ralĂ©|ordinĂĄrio|grosseiro|rude|ignorante|bruto|arrogante|prepotente|soberbo|vaidoso|egocĂȘntrico|egoĂ­sta|mesquinho|sovina|avarento|ganancioso|interesseiro|oportunista|aproveitador|parasita|sanguessuga|chato|irritante|enjoado|cĂ­nico|debochado|sarcĂĄstico|perigoso|louco|maluco|doido|insano|psicopata|perturbado|desequilibrado|instĂĄvel|neurĂłtico|histĂ©rico|exaltado|agressivo|violento|furioso|raivoso|irado|bravo|revoltado|indignado|perturbador|ameaĂ§ador|intimidador|assustador|monstro|demĂŽnio|diabo|satanĂĄs|maldito|amaldiĂ§oado|maldiĂ§ĂŁo|praga|peste|podre|podridĂŁo|lixeira|sujeira|sujo|nojento|repugnante|asqueroso|horrĂ­vel|horroroso|feio|disforme|grotesco|aberraĂ§ĂŁo|anormal|defeituoso|falho|fiasco|vexame|humilhaĂ§ĂŁo|insulto|xingamento|grosseria|atrevimento|descaro|insolĂȘncia|desrespeito|abuso|exploraĂ§ĂŁo|manipulaĂ§ĂŁo|chantagem|coaĂ§ĂŁo|intimidaĂ§ĂŁo|extorsĂŁo|fraude|falsidade|mentira|enganaĂ§ĂŁo|traiĂ§ĂŁo|deslealdade|perfĂ­dia|traidor|desleal|falso|enganador|manipulador|explorador|abusador|agressor|perseguidor|opressor|tirano|ditador|dĂ©spota|autoritĂĄrio|controlador|dominador|servil|rasteiro|bajulador|adulador|lambedor|maldade|cruel|perverso|sĂĄdico|mau|ruim|horrendo|terrĂ­vel|deplorĂĄvel|desprezĂ­vel|execrĂĄvel|infame|torpe|vil|ignĂłbil|baixo|covardemente|criminalmente|ilegalmente|ilegal|bandidagem|safadeza|picaretagem|golpe|fraude|calĂșnia|difamaĂ§ĂŁo|injĂșria|ofensa|agressĂŁo|ameaĂ§a|extorsĂŁo|sequestro|roubo|furto|assalto|crime|delito|contravenĂ§ĂŁo|transgressĂŁo",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    },
                    "id": "ea2e2c50-cd83-42e7-b945-ac54ce60f8f7"
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "ofensivo"
            }
          ]
        },
        "options": {}
      },
      "id": "d9d4cce3-b020-4deb-91d6-70171515f2fe",
      "name": "Classificar Palavra",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        3184,
        3184
      ]
    },
    {
      "parameters": {
        "fromEmail": "eglonneto@gmail.com",
        "toEmail": "eglonneto@gmail.com",
        "subject": "=đš ALERTA: Palavra Ofensiva Detectada",
        "emailFormat": "text",
        "text": "=â ïž Palavra ofensiva detectada via webhook!\n\nđ€ Remetente: {{ $json.nomeCompleto }}\nđ Identificador: {{ $json.identificador }}\nđ Origem: {{ $json.origem }}\n\nđŽ Mensagem: {{ $json.palavraOriginal }}\nâ° Data/Hora: {{ $now }}\n\nVerifique e tome as devidas providĂȘncias.",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3424,
        3088
      ],
      "id": "337ebd38-61e8-4f42-9717-46662800400f",
      "name": "Email de Alerta Ofensivo",
      "webhookId": "087e456e-697f-4e4f-92ea-89225ea21d34",
      "credentials": {
        "smtp": {
          "id": "YuNgpdrASlTPMGu9",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst nome = d.nomeCompleto || 'UsuĂĄrio';\n\nconst texto = `â ïž AtenĂ§ĂŁo, ${nome}!\\n\\nSua mensagem contĂ©m linguagem inapropriada e nĂŁo serĂĄ tolerada.\\n\\nPedimos que mantenha o respeito com todos.\\n\\nđš Aviso: caso esse comportamento se repita, medidas adicionais poderĂŁo ser tomadas.`;\n\nreturn [{ json: { ...d, textoAviso: texto } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3664,
        3088
      ],
      "id": "a9a685eb-51f1-454a-b9a3-785e68db5895",
      "name": "Preparar Aviso"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst agora = new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' });\n\nreturn [{\n  json: {\n    dataHora: agora,\n    nomeCompleto: d.nomeCompleto || 'Desconhecido',\n    identificador: d.identificador || 'sem identificaĂ§ĂŁo',\n    origem: d.origem || 'nĂŁo informado',\n    mensagem: d.palavraOriginal || '',\n    textoAviso: d.textoAviso || '',\n    status: 'ofensivo',\n    emailEnviado: 'sim'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3904,
        3088
      ],
      "id": "4beeee82-7524-48fe-8974-6e30d4c7367b",
      "name": "Preparar Registro"
    },
    {
      "parameters": {
        "operation": "append"
      },
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        4144,
        3088
      ],
      "id": "ea7cdd75-51dd-4768-883f-a7e568fa52ee",
      "name": "Registrar no CSV"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"ofensivo\", \"palavra\": $json.mensagem, \"aviso\": $json.textoAviso, \"emailEnviado\": true, \"registrado\": true } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        4384,
        3088
      ],
      "id": "77abcb83-cca3-45db-a789-97252c362ebf",
      "name": "Responder Ofensivo"
    }
  ],
  "pinData": {},
  "connections": {
    "Receber Mensagem": {
      "main": [
        [
          {
            "node": "Preparar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensagem": {
      "main": [
        [
          {
            "node": "Classificar Palavra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificar Palavra": {
      "main": [
        [
          {
            "node": "Email de Alerta Ofensivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email de Alerta Ofensivo": {
      "main": [
        [
          {
            "node": "Preparar Aviso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Aviso": {
      "main": [
        [
          {
            "node": "Preparar Registro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Registro": {
      "main": [
        [
          {
            "node": "Registrar no CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar no CSV": {
      "main": [
        [
          {
            "node": "Responder Ofensivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e3315ff5-9fd2-4857-ab99-4f763575c6e5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75c2e7e46fe228b02b4e95b76f5694bd5920046ee8eacea4b7d2991600159ebb"
  },
  "id": "FSs1coKYSjMbYGEs",
  "tags": []
}